
.env
.env.*
*.pem
secrets.toml


venv/
.venv/
env/
.env_folder/


__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


.ipynb_checkpoints/
*.csv
*.xlsx
*.sqlite3
*.db

data/
temp_data/


.dockerignore
docker-compose.override.yml


.streamlit/
!.streamlit/config.toml


.DS_Store
Thumbs.db
.vscode/